*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

/**/
/* Small screens & laptops */
/**/
@media only screen and (max-width: 1025px) {
  .home_container {
    width: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; }
  .home_paragraph {
    font-size: 2rem !important;
    margin: 1rem 0 !important; }
    .home_paragraph:nth-of-type(2) {
      margin: 2rem 0 0 0 !important; }
  .home_name {
    font-size: 4rem !important; }
  .home_description {
    font-size: 4rem !important; } }

/**/
/* Tablets & Landscape */
/**/
@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex !important; }
  .header_resume,
  nav {
    display: none !important; }
  .header_logo {
    margin: 0 auto !important; }
  .tapbar {
    display: flex !important; }
  .home_container {
    width: 80% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; }
  .home_paragraph {
    font-size: 1.8rem !important;
    width: 100% !important;
    margin: 1rem 0 !important; }
    .home_paragraph:nth-of-type(2) {
      margin: 2rem 0 0 0 !important; }
  .home_name {
    font-size: 3.2rem !important;
    margin-bottom: 0rem !important; }
  .home_description {
    font-size: 3.2rem !important; }
  .home_btn {
    width: 13rem !important;
    padding: 1rem 0.5rem !important; } }

/**/
/* Phones */
/**/
@media only screen and (max-width: 480px) {
  .home_container {
    left: 4% !important;
    transform: translate(0%, -50%) !important; }
  .home_paragraph {
    font-size: 1.6rem !important;
    width: 100% !important;
    margin: 1rem 0 !important; }
    .home_paragraph:nth-of-type(2) {
      margin: 2rem 0 0 0 !important; }
  .home_name {
    font-size: 2.8rem !important;
    margin-bottom: 0rem !important; }
  .home_description {
    font-size: 2.8rem !important; }
  .home_btn {
    width: 13rem !important;
    padding: 1rem 0.5rem !important; } }

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 300;
  display: none; }
  .hamburger_btn {
    width: 4rem;
    height: 0.5rem;
    background: #ffffff;
    border-radius: 0.3rem;
    transition: all 0.5s ease-in-out; }
    .hamburger_btn::before, .hamburger_btn::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      background: #ffffff;
      border-radius: 0.3rem;
      transition: all 0.5s ease-in-out; }
    .hamburger_btn::before {
      transform: translateY(-1.6rem); }
    .hamburger_btn::after {
      transform: translateY(1.6rem); }
  .hamburger.open .hamburger_btn {
    transform: translateX(-2rem);
    background: transparent; }
  .hamburger.open .hamburger_btn::before {
    transform: rotate(45deg) translate(1.5rem, -1.5rem); }
  .hamburger.open .hamburger_btn::after {
    transform: rotate(-45deg) translate(1.5rem, 1.5rem); }

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 10%;
  background-color: #242526; }
  .header_logo {
    text-decoration: none;
    margin-right: auto; }
    .header_logo h1 {
      font-weight: 800;
      color: #ffffff;
      text-transform: uppercase; }
  .header_links {
    list-style: none;
    display: flex; }
    .header_links li {
      padding: 0 2.5rem; }
    .header_links a {
      font-size: 1.4rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s ease 0s; }
      .header_links a:hover {
        color: #0095ff; }
  .header_resume {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-left: 4rem;
    padding: 1rem 2.5rem;
    background-color: #0095ff;
    border-radius: 5rem;
    transition: all 0.5s ease; }
    .header_resume:hover {
      color: #000000;
      background-color: #ffffff; }

.mobile {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: #242526;
  transition: all 0.5s ease;
  transform: translateX(100%); }
  .mobile_links {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mobile_links a {
      padding: 2.5rem 0;
      font-size: 3rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease; }
      .mobile_links a:hover, .mobile_links a:focus {
        color: #0095ff; }

.home {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url(../img/top.jpg);
  background-size: cover; }
  .home_container {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); }
  .home_paragraph {
    font-size: 2.5rem;
    font-weight: 500;
    width: 85%;
    margin: 2rem 0 2rem 0;
    line-height: 3rem; }
  .home_name {
    font-size: 5.5rem;
    font-weight: 700; }
  .home_description {
    font-size: 5.5rem;
    font-weight: 700;
    color: #242526; }
    .home_description span {
      color: #0095ff; }
  .home_btn {
    width: 15rem;
    padding: 1.25rem 1.5rem;
    margin-top: 5rem;
    text-align: center;
    border: 2px solid #0095ff;
    cursor: pointer;
    border-radius: 5rem; }
    .home_btn:hover {
      background: rgba(36, 37, 38, 0.3); }
    .home_btn a {
      color: #000000;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600; }

.tapbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #0095ff;
  z-index: 100; }
  .tapbar a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    transition: all 0.5s ease; }
  .tapbar-resume {
    color: #000000 !important;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.6rem 2.5rem;
    background-color: #ffffff;
    border-radius: 5rem;
    transition: all 0.5s ease; }
    .tapbar-resume:hover {
      color: #ffffff !important;
      background-color: #242526; }
