*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth; }

/**/
/* Small screens & laptops */
/**/
@media only screen and (max-width: 1025px) {
  .home_container {
    width: 70% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; }
  .home_paragraph {
    font-size: 1.6rem !important;
    margin: 1rem 0 !important;
    width: 80%; }
    .home_paragraph:nth-of-type(2) {
      margin: 2rem 0 0 0 !important; }
  .home_name {
    font-size: 4rem !important; }
  .home_description {
    font-size: 4rem !important; }
  .about {
    height: auto !important; }
    .about_container {
      width: 85rem !important;
      margin: 10rem auto !important; }
    .about_left {
      width: auto !important;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%) !important;
      padding: 3.5rem !important; }
      .about_left-heading {
        font-size: 2rem !important;
        margin-bottom: 2rem !important; }
        .about_left-heading::after {
          top: -1.5rem !important;
          left: 11rem !important;
          width: 85% !important; }
      .about_left_paragraph {
        width: auto !important;
        margin-bottom: 0.5rem !important; }
        .about_left_paragraph.quote {
          margin: 1rem 0 !important; }
    .about_right {
      margin: auto 4rem auto 0 !important;
      width: 20rem !important; }
  .work {
    padding: 4rem !important; }
    .work_title {
      font-size: 2rem !important; }
    .work_description {
      font-size: 1.4rem !important; }
    .work .project {
      width: calc((100% - 6rem) / 2) !important; } }

/**/
/* Tablets & Landscape */
/**/
@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex !important; }
  .header_resume,
  nav {
    display: none !important; }
  .header_logo {
    margin: 0 auto !important; }
  .tapbar {
    display: flex !important; }
  .home_container {
    width: 80% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; }
  .home_paragraph {
    font-size: 1.6rem !important;
    width: 100% !important;
    margin: 1rem 0 !important; }
    .home_paragraph:nth-of-type(2) {
      margin: 2rem 0 0 0 !important; }
  .home_name {
    font-size: 3.2rem !important;
    margin-bottom: 0rem !important; }
  .home_description {
    font-size: 3.2rem !important; }
  .home_btn {
    width: 13rem !important;
    padding: 1rem 0.5rem !important; }
  .about_container {
    width: 90% !important;
    margin: 3rem auto !important;
    flex-direction: column !important; }
  .about_left {
    background: none !important;
    clip-path: none !important;
    padding: 2rem !important; }
    .about_left-heading::after {
      width: 65% !important; }
    .about_left-paragraph {
      width: 100% !important; }
      .about_left-paragraph.quote {
        margin-bottom: 3rem !important; }
    .about_left-skills {
      margin-top: 2rem !important; }
      .about_left-skills > * {
        font-size: 1.2rem !important;
        padding: 0.2rem !important; }
  .about_right {
    margin: 3rem auto !important; }
  .work .project {
    width: calc((100% - 6rem)) !important; }
    .work .project_title {
      font-size: 1.6rem !important; }
  .footer_header {
    font-size: 2rem !important; }
  .footer_paragraph {
    width: 100% !important;
    font-size: 1.4rem !important; } }

/**/
/* Phones */
/**/
@media only screen and (max-width: 480px) {
  .home_container {
    left: 4% !important;
    transform: translate(0%, -50%) !important; }
  .home_paragraph {
    font-size: 1.4rem !important;
    width: 100% !important;
    margin: 1rem 0 !important; }
    .home_paragraph:nth-of-type(2) {
      margin: 2rem 0 0 0 !important; }
  .home_name {
    font-size: 2.8rem !important;
    margin-bottom: 0rem !important; }
  .home_description {
    font-size: 2.8rem !important; }
  .home_btn {
    width: 13rem !important;
    padding: 1rem 0.5rem !important; }
  .about_container {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important; }
  .about_left-paragraph {
    font-size: 1.3rem !important; }
  .about_left-skills {
    display: block !important;
    grid-template-columns: none !important; }
  .work {
    padding: 3rem 1rem !important; }
    .work_container {
      width: 100% !important; }
  .footer {
    padding: 8rem 3rem !important; } }

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 300;
  display: none; }
  .hamburger_btn {
    width: 4rem;
    height: 0.5rem;
    background: #ffffff;
    border-radius: 0.3rem;
    transition: all 0.5s ease-in-out; }
    .hamburger_btn::before, .hamburger_btn::after {
      content: "";
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      background: #ffffff;
      border-radius: 0.3rem;
      transition: all 0.5s ease-in-out; }
    .hamburger_btn::before {
      transform: translateY(-1.6rem); }
    .hamburger_btn::after {
      transform: translateY(1.6rem); }
  .hamburger.open .hamburger_btn {
    transform: translateX(-2rem);
    background: transparent; }
  .hamburger.open .hamburger_btn::before {
    transform: rotate(45deg) translate(1.5rem, -1.5rem); }
  .hamburger.open .hamburger_btn::after {
    transform: rotate(-45deg) translate(1.5rem, 1.5rem); }

.project {
  box-sizing: border-box;
  width: calc( (100% - 6rem) / 3);
  height: 28rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease-in-out; }
  .project:hover .project_title {
    display: none; }
  .project:hover .project_description,
  .project:hover .project_skills,
  .project:hover .project_links {
    display: block; }
  .project-a {
    background: linear-gradient(0deg, rgba(2, 64, 194, 0.7) 0%, rgba(2, 64, 194, 0.7) 100%), url(../img/project-a-background.png);
    background-size: cover; }
    .project-a:hover {
      background: #0240c2; }
  .project-b {
    background: linear-gradient(0deg, rgba(255, 247, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%), url(../img/project-b-background.png);
    background-size: cover; }
    .project-b:hover {
      background: #fff700;
      color: #000000; }
  .project-c {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.7) 0%, rgba(239, 185, 185, 0.5) 100%), url(../img/project-c-background.png);
    background-size: cover; }
    .project-c:hover {
      background: red; }
  .project-d {
    background: linear-gradient(0deg, rgba(0, 102, 255, 0.8) 0%, rgba(0, 78, 255, 0.3) 100%), url(../img/project-d-background.png);
    background-size: cover; }
    .project-d:hover {
      background: #0066ff; }
  .project-e {
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85) 0%, rgba(0, 0, 0, 0) 100%), url(../img/project-e-background.png);
    background-size: cover; }
    .project-e:hover {
      background: #333333; }
  .project-f {
    background: linear-gradient(0deg, rgba(0, 255, 31, 0.77) 0%, rgba(0, 255, 31, 0.25) 100%), url(../img/project-f-background.png);
    background-size: cover; }
    .project-f:hover {
      background: #00ff1f;
      color: #000000; }
  .project_title {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 0px 10px black, 0px 0px 4px black; }
  .project_description {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: none; }
  .project_skills {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: none; }
  .project_links {
    margin-top: 2rem;
    display: none; }
    .project_links > a {
      color: #ffffff;
      font-size: 2rem;
      margin: 1rem;
      text-shadow: 0px 0px 10px black, 0px 0px 4px black; }

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/top.jpg);
  background-size: cover;
  padding: 7rem; }
  .work_title {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .work_description {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 3rem; }
  .work_container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }

.about {
  display: flex;
  height: 100vh;
  background-color: #242526; }
  .about_container {
    width: 110rem;
    background: url(../img/top.jpg);
    background-size: cover;
    margin: auto;
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden; }
  .about_left {
    background: #ffffff;
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    padding: 5rem; }
    .about_left-heading {
      font-size: 3rem;
      margin-bottom: 3rem; }
      .about_left-heading::after {
        content: "";
        display: block;
        height: 2px;
        position: relative;
        top: -22px;
        left: 160px;
        background-color: #242526; }
    .about_left-paragraph {
      font-size: 1.4rem;
      font-weight: 500;
      width: 90%;
      margin-bottom: 1rem; }
      .about_left-paragraph span {
        color: #0095ff; }
      .about_left-paragraph.quote {
        color: #242526;
        font-style: italic; }
    .about_left-skills {
      display: grid;
      grid-template-columns: repeat(2, minmax(24rem, 20rem));
      margin-top: 3rem; }
      .about_left-skills > * {
        list-style: inside;
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0.3rem; }
  .about_right {
    width: 30rem;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 0.5rem 1rem rgba(36, 37, 38, 0.5);
    filter: grayscale(1);
    transition: all 0.2s ease-in-out; }
    .about_right:hover {
      filter: none; }

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 10%;
  background-color: #242526; }
  .header_logo {
    text-decoration: none;
    margin-right: auto; }
    .header_logo h1 {
      font-weight: 800;
      color: #ffffff;
      text-transform: uppercase; }
  .header_links {
    list-style: none;
    display: flex; }
    .header_links li {
      padding: 0 2.5rem; }
    .header_links a {
      font-size: 1.4rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s ease 0s; }
      .header_links a:hover {
        color: #0095ff; }
  .header_resume {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-left: 4rem;
    padding: 1rem 2.5rem;
    background-color: #0095ff;
    border-radius: 5rem;
    transition: all 0.5s ease; }
    .header_resume:hover {
      color: #000000;
      background-color: #ffffff; }

.mobile {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: #242526;
  transition: all 0.5s ease;
  transform: translateX(100%); }
  .mobile_links {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mobile_links a {
      padding: 2.5rem 0;
      font-size: 3rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease; }
      .mobile_links a:hover, .mobile_links a:focus {
        color: #0095ff; }

.home {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url(../img/top.jpg);
  background-size: cover; }
  .home_container {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); }
  .home_paragraph {
    font-size: 1.6rem;
    font-weight: 500;
    width: 65%;
    margin: 2rem 0 2rem 0;
    line-height: 3rem; }
  .home_name {
    font-size: 5rem;
    font-weight: 700; }
  .home_description {
    font-size: 5rem;
    font-weight: 700;
    color: #242526; }
    .home_description span {
      color: #0095ff; }
  .home_btn {
    width: 15rem;
    padding: 1.5rem 1.5rem;
    margin-top: 5rem;
    text-align: center;
    background: #0095ff;
    cursor: pointer;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out; }
    .home_btn:hover {
      background: #242526; }
    .home_btn a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600; }

.tapbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #0095ff;
  z-index: 100; }
  .tapbar a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    transition: all 0.5s ease; }
  .tapbar-resume {
    color: #000000 !important;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.6rem 2.5rem;
    background-color: #ffffff;
    border-radius: 5rem;
    transition: all 0.5s ease; }
    .tapbar-resume:hover {
      color: #ffffff !important;
      background-color: #242526; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
  background: #242526;
  color: #ffffff; }
  .footer_header {
    font-size: 3rem;
    margin-bottom: 4rem; }
  .footer_paragraph {
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 4rem; }
  .footer_btn {
    width: 15rem;
    padding: 1.5rem 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
    background: #0095ff;
    cursor: pointer;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out; }
    .footer_btn:hover {
      background: #ffffff; }
      .footer_btn:hover a {
        color: #0095ff; }
    .footer_btn a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600; }
  .footer_links {
    margin-bottom: 4rem; }
    .footer_links > * {
      display: inline-block;
      font-size: 2rem;
      color: #0095ff;
      margin: 0 2rem;
      transition: all 0.2s ease-in-out; }
      .footer_links > *:hover {
        transform: scale(1.2); }
  .footer_license {
    font-size: 1.3rem; }
