*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 10%;
  background-color: #242526; }
  .header_logo {
    text-decoration: none;
    margin-right: auto; }
    .header_logo h1 {
      font-weight: 800;
      color: #ffffff;
      text-transform: uppercase; }
  .header_links {
    list-style: none;
    display: flex; }
    .header_links li {
      padding: 0 2.5rem; }
    .header_links a {
      font-size: 1.4rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s ease 0s; }
      .header_links a:hover {
        color: #2596be; }
  .header_resume {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-left: 4rem;
    padding: 1rem 2.5rem;
    background-color: #2596be;
    border-radius: 5rem;
    transition: all 0.5s ease; }
    .header_resume:hover {
      color: #000000;
      background-color: #ffffff; }

.mobile {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #242526;
  transition: all 0.5s ease; }
  .mobile_links {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mobile_links a {
      padding: 2.5rem 0;
      font-size: 3rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease; }
      .mobile_links a:hover, .mobile_links a:focus {
        color: #2596be; }
